# The environment to use `development`, `testing`, `staging`, `production`
STELLAR_SCAFFOLD_ENV=

# Location of the config files for this project for the scaffold stellar CLI.
# Learn more at https://developers.stellar.org/docs/tools/cli/stellar-cli#stellar-config-dir
XDG_CONFIG_HOME=

# Prefix with "NEXT_PUBLIC_" to make available in frontend files (Next.js inlines
# NEXT_PUBLIC_* variables into the client bundle at build time)
# Which Stellar network to use in the frontend: local, testnet, futurenet, or mainnet
# More on Stellar networks: https://developers.stellar.org/docs/networks

#NEXT_PUBLIC_STELLAR_NETWORK="LOCAL"
# The Stellar network passphrase, this is local
#NEXT_PUBLIC_STELLAR_NETWORK_PASSPHRASE="Standalone Network ; February 2017"
# The Stellar network RPC URL. this is local
#NEXT_PUBLIC_STELLAR_RPC_URL="http://localhost:8000/rpc"
# The Stellar Horizon URL. this is local
#NEXT_PUBLIC_STELLAR_HORIZON_URL="http://localhost:8000"

NEXT_PUBLIC_STELLAR_NETWORK=
NEXT_PUBLIC_STELLAR_NETWORK_PASSPHRASE=
NEXT_PUBLIC_STELLAR_RPC_URL=
NEXT_PUBLIC_STELLAR_HORIZON_URL=

# NEXT_PUBLIC_STELLAR_NETWORK="MAINNET"
# NEXT_PUBLIC_STELLAR_NETWORK_PASSPHRASE="Public Global Stellar Network ; September 2015"
# NEXT_PUBLIC_STELLAR_RPC_URL=
# NEXT_PUBLIC_STELLAR_HORIZON_URL=

NEXT_PUBLIC_STARS_CONTRACT_ID=
NEXT_PUBLIC_SWAP_CONTRACT_ID=

NEXT_PUBLIC_IPFS_API_KEY=
FILEBASE_BASIC_AUTH=



